In [27]:
import pandas as pd
import numpy as np
import csv

In [28]:
URL = "https://statiz.sporki.com/stats/?m=main&m2=all&m3=default&so=WAR&ob=DESC&year=2024&sy=&ey=&te=3001&po=13&lt=10100&reg=&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2="
tables = pd.read_html(URL)
print(len(tables),"개의 테이블이 있습니다")
tables[0]

1 개의 테이블이 있습니다

    Rank  Name   Team  Sort▼   WAR▼  WAA (야수)                                \
    Rank  Name   Team    WAR   WAR▼        BT        SB        BR       Def
0      1   이학주  24 SS   0.17   0.17      0.14      0.00     -0.01      0.00
1      2    최항  24 2B   0.14   0.14     -0.12      0.00      0.01      0.14
2      3   정보근   24 C   0.05   0.05      0.05      0.00     -0.02      0.01
3      4    정훈  24 1B   0.04   0.04      0.01      0.00      0.00     -0.04
4      5   이주찬  24 2B   0.03   0.03     -0.01      0.00     -0.03      0.06
5      6   김민성  24 2B  -0.03  -0.03     -0.07     -0.04      0.00      0.00
6      7   유강남   24 C  -0.07  -0.07     -0.12      0.00      0.00     -0.04
7      8   손호영  24 3B  -0.07  -0.07     -0.09       NaN       NaN      0.00
8      9   오선진  24 3B  -0.09  -0.09     -0.09      0.00      0.00     -0.02
9     10   나승엽  24 1B  -0.29  -0.29     -0.11      0.00     -0.01     -0.22
10  Rank  Name   Team  Sort▼   WAR▼  WAA (야수)  WAA (야수)  WAA (야수)  WAA (야수)
11  Rank  Name   Team    WAR   WAR▼        BT        SB        BR       Def
12    11   노진혁  24 SS  -0.31  -0.31     -0.23      0.00      0.00     -0.24
13    12   박승욱  24 2B  -0.34  -0.34     -0.35      0.00      0.00     -0.04

    Rep.Wins  Pos.Wins  WAA (투수)            Rep. Win (투수)                 \
    Rep.Wins  Pos.Wins        GS        GR             GS             GR
0       0.00      0.01      0.00      0.00           0.00           0.00
1       0.01      0.02      0.00      0.00           0.00           0.00
2       0.00      0.02      0.00      0.00           0.00           0.00
3       0.01     -0.02      0.00      0.00           0.00           0.00
4       0.00      0.00      0.00      0.00           0.00           0.00
5       0.01      0.01      0.00      0.00           0.00           0.00
6       0.01      0.05      0.00      0.00           0.00           0.00
7       0.00      0.00      0.00      0.00           0.00           0.00
8       0.00      0.00      0.00      0.00           0.00           0.00
9       0.01     -0.03      0.00      0.00           0.00           0.00
10  Rep.Wins  Pos.Wins  WAA (투수)  WAA (투수)  Rep. Win (투수)  Rep. Win (투수)
11  Rep.Wins  Pos.Wins        GS        GR             GS             GR
12      0.01      0.05      0.00      0.00           0.00           0.00
13      0.01      0.02      0.00      0.00           0.00           0.00

    WAR (투수)
          GS        GR
0       0.00      0.00
1       0.00      0.00
2       0.00      0.00
3       0.00      0.00
4       0.00      0.00
5       0.00      0.00
6       0.00      0.00
7       0.00      0.00
8       0.00      0.00
9       0.00      0.00
10  WAR (투수)  WAR (투수)
11        GS        GR
12      0.00      0.00
13      0.00      0.00

In [29]:
df = tables[0]

In [30]:
df.columns = df.columns.get_level_values(1)

In [31]:
df

,Rank,Name,Team,WAR,WAR▼,BT,SB,BR,Def,Rep.Wins,Pos.Wins,GS,GR,GS,GR,GS,GR
0,1,이학주,24 SS,0.17,0.17,0.14,0.00,-0.01,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00
1,2,최항,24 2B,0.14,0.14,-0.12,0.00,0.01,0.14,0.01,0.02,0.00,0.00,0.00,0.00,0.00,0.00
2,3,정보근,24 C,0.05,0.05,0.05,0.00,-0.02,0.01,0.00,0.02,0.00,0.00,0.00,0.00,0.00,0.00
3,4,정훈,24 1B,0.04,0.04,0.01,0.00,0.00,-0.04,0.01,-0.02,0.00,0.00,0.00,0.00,0.00,0.00
4,5,이주찬,24 2B,0.03,0.03,-0.01,0.00,-0.03,0.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,6,김민성,24 2B,-0.03,-0.03,-0.07,-0.04,0.00,0.00,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00
6,7,유강남,24 C,-0.07,-0.07,-0.12,0.00,0.00,-0.04,0.01,0.05,0.00,0.00,0.00,0.00,0.00,0.00
7,8,손호영,24 3B,-0.07,-0.07,-0.09,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,9,오선진,24 3B,-0.09,-0.09,-0.09,0.00,0.00,-0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,10,나승엽,24 1B,-0.29,-0.29,-0.11,0.00,-0.01,-0.22,0.01,-0.03,0.00,0.00,0.00,0.00,0.00,0.00
10,Rank,Name,Team,Sort▼,WAR▼,WAA (야수),WAA (야수),WAA (야수),WAA (야수),Rep.Wins,Pos.Wins,WAA (투수),WAA (투수),Rep. Win (투수),Rep. Win (투수),WAR (투수),WAR (투수)
11,Rank,Name,Team,WAR,WAR▼,BT,SB,BR,Def,Rep.Wins,Pos.Wins,GS,GR,GS,GR,GS,GR
12,11,노진혁,24 SS,-0.31,-0.31,-0.23,0.00,0.00,-0.24,0.01,0.05,0.00,0.00,0.00,0.00,0.00,0.00
13,12,박승욱,24 2B,-0.34,-0.34,-0.35,0.00,0.00,-0.04,0.01,0.02,0.00,0.00,0.00,0.00,0.00,0.00

In [32]:
columns_to_drop = ['Rank','WAR▼']
df = df.drop(columns=columns_to_drop)

In [33]:
df

,Name,Team,WAR,BT,SB,BR,Def,Rep.Wins,Pos.Wins,GS,GR,GS,GR,GS,GR
0,이학주,24 SS,0.17,0.14,0.00,-0.01,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00
1,최항,24 2B,0.14,-0.12,0.00,0.01,0.14,0.01,0.02,0.00,0.00,0.00,0.00,0.00,0.00
2,정보근,24 C,0.05,0.05,0.00,-0.02,0.01,0.00,0.02,0.00,0.00,0.00,0.00,0.00,0.00
3,정훈,24 1B,0.04,0.01,0.00,0.00,-0.04,0.01,-0.02,0.00,0.00,0.00,0.00,0.00,0.00
4,이주찬,24 2B,0.03,-0.01,0.00,-0.03,0.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,김민성,24 2B,-0.03,-0.07,-0.04,0.00,0.00,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00
6,유강남,24 C,-0.07,-0.12,0.00,0.00,-0.04,0.01,0.05,0.00,0.00,0.00,0.00,0.00,0.00
7,손호영,24 3B,-0.07,-0.09,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,오선진,24 3B,-0.09,-0.09,0.00,0.00,-0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,나승엽,24 1B,-0.29,-0.11,0.00,-0.01,-0.22,0.01,-0.03,0.00,0.00,0.00,0.00,0.00,0.00
10,Name,Team,Sort▼,WAA (야수),WAA (야수),WAA (야수),WAA (야수),Rep.Wins,Pos.Wins,WAA (투수),WAA (투수),Rep. Win (투수),Rep. Win (투수),WAR (투수),WAR (투수)
11,Name,Team,WAR,BT,SB,BR,Def,Rep.Wins,Pos.Wins,GS,GR,GS,GR,GS,GR
12,노진혁,24 SS,-0.31,-0.23,0.00,0.00,-0.24,0.01,0.05,0.00,0.00,0.00,0.00,0.00,0.00
13,박승욱,24 2B,-0.34,-0.35,0.00,0.00,-0.04,0.01,0.02,0.00,0.00,0.00,0.00,0.00,0.00

In [34]:
df = df[df.Name != 'Name']

In [35]:
df = df[df.Name != '손호영']

In [36]:
df

,Name,Team,WAR,BT,SB,BR,Def,Rep.Wins,Pos.Wins,GS,GR,GS,GR,GS,GR
0,이학주,24 SS,0.17,0.14,0.00,-0.01,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00
1,최항,24 2B,0.14,-0.12,0.00,0.01,0.14,0.01,0.02,0.00,0.00,0.00,0.00,0.00,0.00
2,정보근,24 C,0.05,0.05,0.00,-0.02,0.01,0.00,0.02,0.00,0.00,0.00,0.00,0.00,0.00
3,정훈,24 1B,0.04,0.01,0.00,0.00,-0.04,0.01,-0.02,0.00,0.00,0.00,0.00,0.00,0.00
4,이주찬,24 2B,0.03,-0.01,0.00,-0.03,0.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,김민성,24 2B,-0.03,-0.07,-0.04,0.00,0.00,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00
6,유강남,24 C,-0.07,-0.12,0.00,0.00,-0.04,0.01,0.05,0.00,0.00,0.00,0.00,0.00,0.00
8,오선진,24 3B,-0.09,-0.09,0.00,0.00,-0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,나승엽,24 1B,-0.29,-0.11,0.00,-0.01,-0.22,0.01,-0.03,0.00,0.00,0.00,0.00,0.00,0.00
12,노진혁,24 SS,-0.31,-0.23,0.00,0.00,-0.24,0.01,0.05,0.00,0.00,0.00,0.00,0.00,0.00
13,박승욱,24 2B,-0.34,-0.35,0.00,0.00,-0.04,0.01,0.02,0.00,0.00,0.00,0.00,0.00,0.00

In [37]:
index_of_column_6 = 6
df = df.iloc[:, :index_of_column_6 + 1]

In [38]:
df

   Name   Team    WAR     BT     SB     BR    Def
0   이학주  24 SS   0.17   0.14   0.00  -0.01   0.00
1    최항  24 2B   0.14  -0.12   0.00   0.01   0.14
2   정보근   24 C   0.05   0.05   0.00  -0.02   0.01
3    정훈  24 1B   0.04   0.01   0.00   0.00  -0.04
4   이주찬  24 2B   0.03  -0.01   0.00  -0.03   0.06
5   김민성  24 2B  -0.03  -0.07  -0.04   0.00   0.00
6   유강남   24 C  -0.07  -0.12   0.00   0.00  -0.04
8   오선진  24 3B  -0.09  -0.09   0.00   0.00  -0.02
9   나승엽  24 1B  -0.29  -0.11   0.00  -0.01  -0.22
12  노진혁  24 SS  -0.31  -0.23   0.00   0.00  -0.24
13  박승욱  24 2B  -0.34  -0.35   0.00   0.00  -0.04

In [39]:
URL = "https://statiz.sporki.com/player/?m=year&p_no=14590"
tables = pd.read_html(URL)
print(len(tables),"개의 테이블이 있습니다")
tables[0]

1 개의 테이블이 있습니다

   Year  Team   Age Pos.   G  PA  ePA   AB    R   H  ...  SH SF     비율         \
   Year  Team   Age Pos.   G  PA  ePA   AB    R   H  ...  SH SF    AVG    OBP
   Year Total Total Pos.   G  PA  ePA   AB    R   H  ...  SH SF     비율     비율
   Year Total Total Pos.   G  PA  ePA   AB    R   H  ...  SH SF    AVG    OBP
0  2020    LG    26   3B  23  31   31   30    9  11  ...   0  0  0.367  0.387
1  2021    LG    27   3B   8  12   12   10    2   1  ...   0  0  0.100  0.250
2  2022    LG    28   3B  36  82   81   74   13  19  ...   1  1  0.257  0.309
3  2023    LG    29   3B  27  45   45   44    8   9  ...   0  0  0.205  0.222
4  2024    LG    30   3B   2   2    2    2    0   0  ...   0  0  0.000  0.000
5  2024    롯데    30   3B   1   3    3    3    0   0  ...   0  0  0.000  0.000
6  2024   5시즌    통산   통산  3B  97  175  174  163  32  ...  10  1  1.000  0.245

                                   WAR Unnamed: 31_level_0
     SLG    OPS  R/ePA     wRC+    WAR Unnamed: 31_level_1
      비율     비율     비율       비율    WAR Unnamed: 31_level_2
     SLG    OPS  R/ePA     wRC+    WAR Unnamed: 31_level_3
0  0.433  0.820  0.010  110.700  -0.19                 NaN
1  0.100  0.350 -0.127    0.600  -0.22                 NaN
2  0.432  0.741  0.056  150.300   0.34                 NaN
3  0.273  0.495 -0.098   21.000  -0.53                 NaN
4  0.000  0.000 -0.299 -141.300  -0.16                 NaN
5  0.000  0.000 -0.306 -147.300  -0.07                 NaN
6  0.287  0.356  0.643    0.184  90.70               -0.84

[7 rows x 32 columns]

In [40]:
df1 = tables[0]

In [41]:
df1.columns = df1.columns.get_level_values(1)

In [42]:
df1

,Year,Team,Age,Pos.,G,PA,ePA,AB,R,H,...,SH,SF,AVG,OBP,SLG,OPS,R/ePA,wRC+,WAR,Unnamed: 31_level_1
0,2020,LG,26,3B,23,31,31,30,9,11,...,0,0,0.367,0.387,0.433,0.820,0.010,110.700,-0.19,NaN
1,2021,LG,27,3B,8,12,12,10,2,1,...,0,0,0.100,0.250,0.100,0.350,-0.127,0.600,-0.22,NaN
2,2022,LG,28,3B,36,82,81,74,13,19,...,1,1,0.257,0.309,0.432,0.741,0.056,150.300,0.34,NaN
3,2023,LG,29,3B,27,45,45,44,8,9,...,0,0,0.205,0.222,0.273,0.495,-0.098,21.000,-0.53,NaN
4,2024,LG,30,3B,2,2,2,2,0,0,...,0,0,0.000,0.000,0.000,0.000,-0.299,-141.300,-0.16,NaN
5,2024,롯데,30,3B,1,3,3,3,0,0,...,0,0,0.000,0.000,0.000,0.000,-0.306,-147.300,-0.07,NaN
6,2024,5시즌,통산,통산,3B,97,175,174,163,32,...,10,1,1.000,0.245,0.287,0.356,0.643,0.184,90.70,-0.84

In [43]:
columns_to_drop = ['Unnamed: 31_level_1', 'R/ePA']
df1 = df1.drop(columns=columns_to_drop)

In [44]:
df1

,Year,Team,Age,Pos.,G,PA,ePA,AB,R,H,...,SO,GDP,SH,SF,AVG,OBP,SLG,OPS,wRC+,WAR
0,2020,LG,26,3B,23,31,31,30,9,11,...,6,2,0,0,0.367,0.387,0.433,0.820,110.700,-0.19
1,2021,LG,27,3B,8,12,12,10,2,1,...,2,0,0,0,0.100,0.250,0.100,0.350,0.600,-0.22
2,2022,LG,28,3B,36,82,81,74,13,19,...,14,2,1,1,0.257,0.309,0.432,0.741,150.300,0.34
3,2023,LG,29,3B,27,45,45,44,8,9,...,12,5,0,0,0.205,0.222,0.273,0.495,21.000,-0.53
4,2024,LG,30,3B,2,2,2,2,0,0,...,0,1,0,0,0.000,0.000,0.000,0.000,-141.300,-0.16
5,2024,롯데,30,3B,1,3,3,3,0,0,...,2,0,0,0,0.000,0.000,0.000,0.000,-147.300,-0.07
6,2024,5시즌,통산,통산,3B,97,175,174,163,32,...,0,36,10,1,1.000,0.245,0.287,0.356,0.184,90.70

In [46]:
df1 = df1[df1.Age != '통산']

In [48]:
df1= df1[df1.Team != '롯데']

In [49]:
df1

,Year,Team,Age,Pos.,G,PA,ePA,AB,R,H,...,SO,GDP,SH,SF,AVG,OBP,SLG,OPS,wRC+,WAR
0,2020,LG,26,3B,23,31,31,30,9,11,...,6,2,0,0,0.367,0.387,0.433,0.820,110.7,-0.19
1,2021,LG,27,3B,8,12,12,10,2,1,...,2,0,0,0,0.100,0.250,0.100,0.350,0.6,-0.22
2,2022,LG,28,3B,36,82,81,74,13,19,...,14,2,1,1,0.257,0.309,0.432,0.741,150.3,0.34
3,2023,LG,29,3B,27,45,45,44,8,9,...,12,5,0,0,0.205,0.222,0.273,0.495,21.0,-0.53
4,2024,LG,30,3B,2,2,2,2,0,0,...,0,1,0,0,0.000,0.000,0.000,0.000,-141.3,-0.16

In [64]:
URL = "https://statiz.sporki.com/player/?m=year&m2=fielding&m3=default&p_no=14590&lt=10100&gc="
tables = pd.read_html(URL)
print(len(tables),"개의 테이블이 있습니다")
tables[0]

1 개의 테이블이 있습니다

    Year  Team   Age Pos.   G  GS     IP    TC  PO Ass  ... 수비 관련 득점 기여도  \
    Year  Team   Age Pos.   G  GS     IP    TC  PO Ass  ...       CS RAA
    Year Total Total Pos.   G  GS     IP    TC  PO Ass  ... 수비 관련 득점 기여도
    Year Total Total Pos.   G  GS     IP    TC  PO Ass  ...       CS RAA
0   2020    LG    26   1B   3   0    4.1   4.0   4   0  ...          NaN
1   2020    LG    26   2B   1   0    3.0   0.0   0   0  ...          NaN
2   2020    LG    26   3B  12   8   62.0  12.0   2   8  ...          NaN
3   2020    LG    26   SS   2   0    4.0   2.0   0   2  ...          NaN
4   2021    LG    27   3B   2   1    9.0   1.0   0   0  ...          NaN
5   2021    LG    27   SS   6   1   22.2  13.0   4   8  ...          NaN
6   2022    LG    28   1B   2   0    4.0   6.0   5   1  ...          NaN
7   2022    LG    28   2B  20  19  146.0  81.0  35  41  ...          NaN
8   2022    LG    28   3B   3   0    6.0   2.0   0   2  ...          NaN
9   2022    LG    28   SS  13   3   37.0  21.0   6  15  ...          NaN
10  2023    LG    29   1B   5   0    6.0   4.0   4   0  ...          NaN
11  2023    LG    29   2B   7   2   29.0  15.0   5  10  ...          NaN
12  2023    LG    29   3B   2   1    5.0   4.0   1   2  ...          NaN
13  2023    LG    29   SS  13   7   66.2  41.0  19  18  ...          NaN
14  2024    LG    30   3B   1   0    3.0   1.0   0   0  ...          NaN
15  2024   3시즌    통산   통산  1B  10    0.0  14.1  14  13  ...          NaN
16   3시즌    통산    통산   2B  28  21  178.0  96.0  40  51  ...          NaN
17   4시즌    통산    통산   SS  34  11  130.1  77.0  29  43  ...          NaN
18   5시즌    통산    통산   3B  20  10   85.0  20.0   3  12  ...          NaN

                                                       POSAdj RAAwithPOS  \
        Blk RAA      Frm RAA       종합 RAA         /144 POSAdj RAAwithPOS
   수비 관련 득점 기여도 수비 관련 득점 기여도 수비 관련 득점 기여도 수비 관련 득점 기여도 POSAdj RAAwithPOS
        Blk RAA      Frm RAA       종합 RAA         /144 POSAdj RAAwithPOS
0           NaN          NaN         0.06         0.37  -0.04       0.02
1           NaN          NaN        -0.06        -0.40   0.01      -0.05
2           NaN          NaN        -2.80       -17.53   0.00      -2.80
3           NaN          NaN        -1.49        -9.31    NaN        NaN
4           NaN          NaN        -0.75       -13.56   0.00      -0.75
5           NaN          NaN        -1.08       -19.40   0.14      -0.94
6           NaN          NaN         0.33         1.31  -0.02       0.31
7           NaN          NaN        -4.84       -19.37   0.62      -4.22
8           NaN          NaN         0.49         1.98   0.00       0.49
9           NaN          NaN        -0.61        -2.42   0.28      -0.33
10          NaN          NaN        -0.47        -2.51    NaN        NaN
11          NaN          NaN         1.37         7.30   0.10       1.47
12          NaN          NaN        -0.78        -4.16   0.00      -0.78
13          NaN          NaN        -2.11       -11.27   0.58      -1.53
14          NaN          NaN        -0.64       -30.60   0.00      -0.64
15          NaN          NaN          NaN        -0.08  -1.22      -0.06
16          NaN          NaN        -3.54       -18.19   0.73      -2.81
17          NaN          NaN        -5.28       -22.38   1.00      -2.80
18          NaN          NaN        -4.48       -32.23   0.00      -4.48

   WAAwoPOS WAAwithPOS Unnamed: 27_level_0
   WAAwoPOS WAAwithPOS Unnamed: 27_level_1
   WAAwoPOS WAAwithPOS Unnamed: 27_level_2
   WAAwoPOS WAAwithPOS Unnamed: 27_level_3
0     0.005      0.002                 NaN
1    -0.006     -0.005                 NaN
2    -0.247     -0.247                 NaN
3    -0.131        NaN                 NaN
4    -0.072     -0.072                 NaN
5    -0.103     -0.090                 NaN
6     0.032      0.030                 NaN
7    -0.473     -0.412                 NaN
8     0.048      0.048                 NaN
9    -0.059     -0.032                 NaN
10   -0.045        NaN                 NaN
11    0.133      0.142                 NaN
12   -0.075     -0.075                 NaN
13   -0.204     -0.148                 NaN
14   -0.062     -0.062                 NaN
15    0.330     -0.008               0.032
16   -0.346     -0.275                 NaN
17   -0.498     -0.270                 NaN
18   -0.408     -0.408                 NaN

[19 rows x 28 columns]

In [65]:
df2 = tables[0]

In [66]:
df2.columns = df2.columns.get_level_values(1)

In [67]:
df2= df2[df2.Age != '통산']

In [68]:
columns_to_drop = ['Arm RAA','CS RAA', 'Unnamed: 27_level_1','Blk RAA','Frm RAA','DP RAA','Bt RAA']
df2 = df2.drop(columns=columns_to_drop)

In [71]:
df2

,Year,Team,Age,Pos.,G,GS,IP,TC,PO,Ass,...,F%,RF9,Range RAA,Err RAA,종합 RAA,/144,POSAdj,RAAwithPOS,WAAwoPOS,WAAwithPOS
0,2020,LG,26,1B,3,0,4.1,4.0,4,0,...,100.0,8.31,0.05,0.00,0.06,0.37,-0.04,0.02,0.005,0.002
1,2020,LG,26,2B,1,0,3.0,0.0,0,0,...,NaN,0.00,-0.07,0.00,-0.06,-0.40,0.01,-0.05,-0.006,-0.005
2,2020,LG,26,3B,12,8,62.0,12.0,2,8,...,83.3,1.45,-1.81,0.04,-2.80,-17.53,0.00,-2.80,-0.247,-0.247
3,2020,LG,26,SS,2,0,4.0,2.0,0,2,...,100.0,4.50,-1.16,0.01,-1.49,-9.31,NaN,NaN,-0.131,NaN
4,2021,LG,27,3B,2,1,9.0,1.0,0,0,...,0.0,0.00,-0.76,0.01,-0.75,-13.56,0.00,-0.75,-0.072,-0.072
5,2021,LG,27,SS,6,1,22.2,13.0,4,8,...,92.3,4.76,-0.35,-0.46,-1.08,-19.40,0.14,-0.94,-0.103,-0.090
6,2022,LG,28,1B,2,0,4.0,6.0,5,1,...,100.0,13.50,0.32,0.00,0.33,1.31,-0.02,0.31,0.032,0.030
7,2022,LG,28,2B,20,19,146.0,81.0,35,41,...,93.8,4.68,-4.20,-0.31,-4.84,-19.37,0.62,-4.22,-0.473,-0.412
8,2022,LG,28,3B,3,0,6.0,2.0,0,2,...,100.0,3.00,0.49,0.01,0.49,1.98,0.00,0.49,0.048,0.048
9,2022,LG,28,SS,13,3,37.0,21.0,6,15,...,100.0,5.11,-0.79,0.06,-0.61,-2.42,0.28,-0.33,-0.059,-0.032
10,2023,LG,29,1B,5,0,6.0,4.0,4,0,...,100.0,6.00,-0.48,0.01,-0.47,-2.51,NaN,NaN,-0.045,NaN
11,2023,LG,29,2B,7,2,29.0,15.0,5,10,...,100.0,4.66,1.26,0.10,1.37,7.30,0.10,1.47,0.133,0.142
12,2023,LG,29,3B,2,1,5.0,4.0,1,2,...,75.0,5.40,-0.80,0.02,-0.78,-4.16,0.00,-0.78,-0.075,-0.075
13,2023,LG,29,SS,13,7,66.2,41.0,19,18,...,90.2,5.00,-2.29,-0.77,-2.11,-11.27,0.58,-1.53,-0.204,-0.148
14,2024,LG,30,3B,1,0,3.0,1.0,0,0,...,0.0,0.00,-0.64,0.01,-0.64,-30.60,0.00,-0.64,-0.062,-0.062

In [70]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        15 non-null     object
 1   Team        15 non-null     object
 2   Age         15 non-null     object
 3   Pos.        15 non-null     object
 4   G           15 non-null     object
 5   GS          15 non-null     int64
 6   IP          15 non-null     float64
 7   TC          15 non-null     float64
 8   PO          15 non-null     int64
 9   Ass         15 non-null     int64
 10  E           15 non-null     int64
 11  F%          14 non-null     float64
 12  RF9         15 non-null     float64
 13  Range RAA   15 non-null     float64
 14  Err RAA     15 non-null     float64
 15  종합 RAA      15 non-null     float64
 16  /144        15 non-null     float64
 17  POSAdj      13 non-null     float64
 18  RAAwithPOS  13 non-null     float64
 19  WAAwoPOS    15 non-null     float64
 20  WAAwithPOS  13 non-null     float64
dtypes: float64(12), int64(4), object(5)
memory usage: 2.6+ KB

In [72]:
URL = "https://statiz.sporki.com/stats/?m=main&m2=pitching&m3=default&so=&ob=&year=2024&sy=&ey=&te=5002&po=1&lt=10100&reg=A&pe=&ds=&de=&we=&hr=&ha=&ct=&st=&vp=&bo=&pt=&pp=&ii=&vc=&um=&oo=&rr=&sc=&bc=&ba=&li=&as=&ae=&pl=&gc=&lr=&pr=50&ph=&hs=&us=&na=&ls=&sf1=&sk1=&sv1=&sf2=&sk2=&sv2="
tables = pd.read_html(URL)
print(len(tables),"개의 테이블이 있습니다")
tables[0]

1 개의 테이블이 있습니다

,Rank,Name,Team,Sort▼,G,GS,GR,GF,W,L,...,ROE,BK,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼
,Rank,Name,Team,WAR,G,GS,GR,GF,W,L,...,ROE,BK,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼
0,1,엔스,24 P,0.61,2,2,0,0,2,0,...,0,0,0,1.50,1.50,1.50,1.64,1.80,1.00,0.61
1,2,손주영,24 P,0.45,1,1,0,0,1,0,...,1,0,0,0.00,0.00,0.00,0.00,4.45,0.83,0.45
2,3,김진성,24 P,0.33,5,0,5,0,0,0,...,0,0,0,0.00,0.00,0.00,0.00,0.65,0.40,0.33
3,4,이우찬,24 P,0.23,4,0,4,2,0,0,...,1,0,1,0.00,0.00,0.00,0.00,2.83,0.60,0.23
4,5,켈리,24 P,0.10,2,2,0,0,0,1,...,0,0,0,4.91,4.91,4.91,5.29,4.54,1.73,0.10
5,6,최원태,24 P,0.09,1,1,0,0,0,0,...,1,0,0,1.93,3.86,3.86,4.21,6.53,1.71,0.09
6,7,이지강,24 P,0.08,2,0,2,0,0,0,...,1,0,1,3.60,3.60,3.60,3.83,4.89,1.40,0.08
7,8,윤호솔,24 P,0.05,2,0,2,1,0,0,...,0,0,0,0.00,0.00,0.00,0.00,2.72,0.75,0.05
8,9,김유영,24 P,0.05,3,0,3,2,0,0,...,1,0,1,3.00,3.00,3.00,3.27,1.65,1.67,0.05
9,10,최동환,24 P,0.01,2,0,2,1,0,0,...,1,0,0,0.00,4.50,4.50,4.91,5.70,1.00,0.01
10,Rank,Name,Team,Sort▼,G,GS,GR,GF,W,L,...,ROE,BK,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼
11,Rank,Name,Team,WAR,G,GS,GR,GF,W,L,...,ROE,BK,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼
12,11,유영찬,24 P,-0.05,4,0,4,2,1,0,...,0,0,0,2.70,2.70,5.94,6.48,7.15,1.20,-0.05
13,12,박명근,24 P,-0.08,4,0,4,0,0,0,...,0,0,0,4.91,4.91,8.71,9.27,10.12,1.36,-0.08
14,13,백승현,24 P,-0.10,3,0,3,0,0,0,...,0,0,0,32.40,32.40,17.55,18.93,11.59,3.60,-0.10
15,14,임찬규,24 P,-0.11,2,2,0,0,0,2,...,0,0,1,6.55,7.36,7.36,7.90,5.34,1.55,-0.11

In [73]:
df3 = tables[0]

In [75]:
df3.columns = df3.columns.get_level_values(1)

In [76]:
df3 = df3[df3.Name != 'Name']

In [77]:
df3

,Rank,Name,Team,WAR,G,GS,GR,GF,W,L,...,ROE,BK,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼
0,1,엔스,24 P,0.61,2,2,0,0,2,0,...,0,0,0,1.50,1.50,1.50,1.64,1.80,1.00,0.61
1,2,손주영,24 P,0.45,1,1,0,0,1,0,...,1,0,0,0.00,0.00,0.00,0.00,4.45,0.83,0.45
2,3,김진성,24 P,0.33,5,0,5,0,0,0,...,0,0,0,0.00,0.00,0.00,0.00,0.65,0.40,0.33
3,4,이우찬,24 P,0.23,4,0,4,2,0,0,...,1,0,1,0.00,0.00,0.00,0.00,2.83,0.60,0.23
4,5,켈리,24 P,0.10,2,2,0,0,0,1,...,0,0,0,4.91,4.91,4.91,5.29,4.54,1.73,0.10
5,6,최원태,24 P,0.09,1,1,0,0,0,0,...,1,0,0,1.93,3.86,3.86,4.21,6.53,1.71,0.09
6,7,이지강,24 P,0.08,2,0,2,0,0,0,...,1,0,1,3.60,3.60,3.60,3.83,4.89,1.40,0.08
7,8,윤호솔,24 P,0.05,2,0,2,1,0,0,...,0,0,0,0.00,0.00,0.00,0.00,2.72,0.75,0.05
8,9,김유영,24 P,0.05,3,0,3,2,0,0,...,1,0,1,3.00,3.00,3.00,3.27,1.65,1.67,0.05
9,10,최동환,24 P,0.01,2,0,2,1,0,0,...,1,0,0,0.00,4.50,4.50,4.91,5.70,1.00,0.01
12,11,유영찬,24 P,-0.05,4,0,4,2,1,0,...,0,0,0,2.70,2.70,5.94,6.48,7.15,1.20,-0.05
13,12,박명근,24 P,-0.08,4,0,4,0,0,0,...,0,0,0,4.91,4.91,8.71,9.27,10.12,1.36,-0.08
14,13,백승현,24 P,-0.10,3,0,3,0,0,0,...,0,0,0,32.40,32.40,17.55,18.93,11.59,3.60,-0.10
15,14,임찬규,24 P,-0.11,2,2,0,0,0,2,...,0,0,1,6.55,7.36,7.36,7.90,5.34,1.55,-0.11